SUPABASE_DB_URL=
MONGO_URL=
MONGO_DB=
MONGO_DB_RESERVATION=reservations
MONGO_DB_MARKET=markets
MONGO_DB_SLIP=slips
MARKET_SERVICE_URL="http://host.docker.internal:7002/markets"

SECRET_KEY=
ALGORITHM=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION_NAME=
S3_BUCKET_NAME=

RABBITMQ_URL= amqp://guest:guest@host.docker.internal:5672/ #deployment

USER_QUEUE=user_info_queue
USER_TOPIC1=user_info
USER_STATUS=user_info.status
USER_EVENT= GET_USERINFO